html, body {
  width: 100%;
  margin: 0;
}

paper-icon-button {
  padding: 0;
}

.yesButton {
  background-color: blue;
  color: white;
}
.noButton {
  background-color: white;
  color: black;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width:100%;
}